body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0d0d0d;
  color: white;
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111;
  padding: 20px;
  border-right: 1px solid #222;
  overflow-y: auto;
}

.sidebar h2 {
  margin-top: 0;
}

#fileInput {
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
  background: #1a1a1a;
  color: #aaa;
  border: 1px solid #333;
  border-radius: 8px;
  cursor: pointer;
}

#fileInput:hover {
  border-color: #00f2ff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #222;
}

.sidebar li.active {
  background: linear-gradient(90deg, #00f2ff, #0072ff);
}

/* Main */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background 1s ease;
}

/* Vinyl */
.cover-wrapper {
  position: relative;
}

.cover-wrapper img {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.vinyl {
  position: absolute;
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #000 40%, #111 60%);
  border-radius: 50%;
  top: -20px;
  left: -20px;
  z-index: 1;
  animation: spin 8s linear infinite;
  opacity: 0;
}

.playing .vinyl {
  opacity: 1;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Equalizer */
.equalizer {
  display: flex;
  gap: 5px;
  margin: 15px 0;
  height: 20px;
}

.equalizer span {
  width: 4px;
  background: #00f2ff;
  animation: bounce 1s infinite ease-in-out;
}

.equalizer span:nth-child(2) {
  animation-delay: 0.2s;
}
.equalizer span:nth-child(3) {
  animation-delay: 0.4s;
}
.equalizer span:nth-child(4) {
  animation-delay: 0.6s;
}
.equalizer span:nth-child(5) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  0%,
  100% {
    height: 5px;
  }
  50% {
    height: 20px;
  }
}

/* Progress */
.progress-container {
  width: 60%;
  height: 6px;
  background: #333;
  border-radius: 10px;
  cursor: pointer;
}

.progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(90deg, #00f2ff, #0072ff);
  border-radius: 10px;
}

.time {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 8px 0 15px;
  color: #aaa;
}

/* Controls */
.controls {
  display: flex;
  gap: 15px;
  align-items: center;
}

.controls button {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.controls button:hover {
  color: #00f2ff;
}

.play-btn {
  background: linear-gradient(135deg, #00f2ff, #0072ff);
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.volume {
  margin-top: 15px;
  width: 60%;
  display: flex;
  gap: 10px;
}
